/* Variables */
/* Mixin */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  outline: unset;
}

body {
  background: #0cd;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #674baf;
  background-image: url("../images/bg-desktop.svg");
  background-repeat: no-repeat;
  color: #fff;
}

@media (max-width: 900px) {
  body {
    background-image: url("../images/bg-mobile.svg");
    background-size: contain;
    font-size: 33px;
  }
}

h1, h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }
}

header {
  margin: 50px 72px 135px;
}

header img {
  width: 210px;
}

article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 53% 42%;
      grid-template-columns: 53% 42%;
  margin: 0 30px 50px 72px;
}

article section:first-child img {
  width: 98%;
}

article section:last-child {
  margin: 45px 0 0 50px;
}

article section:last-child h1 {
  margin-bottom: 20px;
}

article section:last-child p {
  color: #fffb;
  margin-bottom: 20px;
}

article section:last-child button {
  background-color: #fff;
  border: none;
  border-radius: 29px;
  width: 205px;
  padding: 14px;
  color: #674baf;
  font-size: 17px;
  -webkit-box-shadow: 1px 4px 15px #0008;
          box-shadow: 1px 4px 15px #0008;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

article section:last-child button:hover {
  background-color: #e882e8;
  color: #fff;
}

@media (max-width: 900px) {
  article {
    -ms-grid-columns: 91%;
        grid-template-columns: 91%;
    margin: 0 0 50px 72px;
  }
  article section:last-child {
    margin: 120px 0 60px;
    text-align: center;
  }
  article section:last-child h1 {
    margin-bottom: 20px;
  }
  article section:last-child p {
    color: #fffb;
    margin-bottom: 50px;
    line-height: 1.5;
  }
  article section:last-child button {
    width: 390px;
    padding: 19px;
    font-size: 22px;
  }
}

.icons {
  position: absolute;
  right: 90px;
  bottom: 25px;
}

.icons a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 19px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-right: 10px;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.icons a:hover {
  color: #e882e8;
  border-color: #e882e8;
}

@media (max-width: 900px) {
  .centerize {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .centerize .icons {
    position: unset;
  }
  .centerize .icons a {
    width: 56px;
    height: 56px;
    font-size: 28px;
    margin-right: 20px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.attribution a {
  color: #e882e8;
}
/*# sourceMappingURL=style.css.map */